*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box ;
}
body{
    width: 100%;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 10px;
   
}
.container-sm{

    background: hsl(0, 100%, 100%, .67);
    padding: 40px 30px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1em rgb(108, 104, 232)
}
